.menu{
    display: flex;
    flex-direction: column;
    padding-top: 15vh;
}
#adminMenu{
    display: flex;
    justify-content: space-evenly;  
}
.userDetails{
    display: none;
}
.adminMenuIcons{
    margin-right: 10px;
    font-size: 15px;
}
@media (min-width: 1100px){
    .menu{
        flex-direction: row;
        padding-top: 0vh;
        margin: auto;
        width: 96%;
    }
    #adminMenu{
        flex-direction: column;
        width: 15vw;
        height: 100%;
        justify-content: flex-start;
        gap: 20px;
    }
    .userDetails{
        display: flex;
        margin: 30px 0 50px;
        gap: 7px;
    }
    .userPic{
        background-color: lightgray;
        color: white;
        border-radius: 5em;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
    }
    .menuContent{
        width: 100%;
    }
}