.menu{
    padding-top: 15vh;
    margin: 0 10px;
}
.adminMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.adminMenuLi{
    font-size: 1.1em;
}
.adminMenuIcons{
    margin-right: 5px;
    font-size: 16px;
}
@media (min-width: 1100px){
    .menu{
        padding-top: 0vh;
        margin: 0 25px;
    }
    .adminMenu{
        justify-content: flex-start;
        gap: 20px;
    }
}