.dashBoardRow{
    display: grid;
    grid-template-columns: 120px repeat(2, 1fr) repeat(3, 30px);
    height: 45px;
    padding: 0 5px;
    align-items: center;
    background-color: rgb(189, 189, 189);
}
.dashBoardRow:nth-child(even) {
    background-color: rgb(223, 223, 223);
}
#addItemBtn{
    padding: 5px 15px;
    width: 110px;
    border-radius: 1em;
}
.addItem{
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
}
.roundBlackBtn{
    font-size: 0.95em;
}

@media (min-width: 1100px){
    .dashBoardRow{
        grid-template-columns: repeat(3, 1fr) repeat(3, 30px);
    }
}