.dashBoard{
    margin: 10px;
}
.addForm{
    background-color: white;
    height: 70vh;
    width: 90vw;
    position: absolute;
    top: 103px;
    right: 20px;
    border: black 1px solid;
    border-radius: 1em;
    padding: 15px;
    display: none;
}
.dataForm{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}
.inputForm{
    border: black 1px solid;
    border-radius: 0.5em;
}
#addFormBtn{
    width: 150px;
    margin-top: 70px;
}
.addItem{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
#addItemBtn{
    padding: 5px 15px;
}
.dashBoardRow{
    display: grid;
    grid-template-columns: 120px repeat(2, 1fr) repeat(3, 30px);
    height: 40px;
    align-items: center;
}
.type1{
    background-color: rgb(239, 239, 239);
    margin-bottom: 5px;
}
@media (min-width: 1100px){
    .addForm{
        width: 70vw;
        top: 120px;
        right: 160px;
    }
    #addFormBtn{
        margin-top: 50px;
    }
    .addItem{
        justify-content: flex-start;
        margin: 0 0 20px;
    }
    .dashBoardRow{
        grid-template-columns: repeat(3, 1fr) repeat(3, 30px);
    }
}