.shopPage{
    padding-top: 17vh;
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15px;
    gap: 10px;
}
.productCard{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1em;
}
.imgBox{
    height: 150px;
    width: 100%;
}
.productImg{
    border-radius: 1em;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.model{
    font-weight: 500;
}
.price{
    text-align: right;
}

@media (min-width: 1100px){
    .shopPage{
        padding-top: 8vh;
        grid-template-columns: repeat(5, 1fr);
    }
}
