a{
    text-decoration: none;
    color: black;
}
.shopPage{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    width: 90%;
    gap: 10px;
}
.productCard{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
    text-decoration: none;
}
.iconHeart{
    position: absolute;
    top: 5%;
    right: 9%;
    color: gray;
    width: 29px; 
    height: 29px;
}
.iconHeart:hover{
    color: rgb(173, 1, 1);
    cursor: pointer;
}
.iconShop{
    position: absolute;
    top: 16%;
    right: 8%;
    color: gray;
    width: 31px; 
    height: 31px;
}
.iconShop:hover{
    color: black;
    cursor: pointer;
}
.imgBox{
    height: 150px;
    width: 100%;
}
.productImg{
    border-radius: 1em;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.model{
    font-weight: 500;
}
.price{
    text-align: right;
}
.categorySelect{
    padding: 15vh 0 2vh;
    width: 90%;
    display: flex;
    gap: 20px;
    font-weight: 500;
    border-bottom: 1px solid black;
    margin: 0 auto 20px;
}

@media (min-width: 1100px){
    .shopPage{
        padding-top: 30px;
        width: 95%;
        grid-template-columns: repeat(5, 1fr);
    }
    .categorySelect{
        padding-top: 0;
        width: 95%;
        display: flex;
        gap: 25px;
        font-size: 1.1em;
    }
    .options:hover{
        color: rgb(85, 85, 85);
        cursor: pointer; 
    }
    .iconHeart{
        top: 6%;
        right: 6%;
    }
    .iconShop{
        top: 18%;
        right: 5%;
    }
}
