a{
    text-decoration: none;
    color: black;
}
.shopPage{
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 15px;
    gap: 10px;
}
.productCard{
    color: black;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    border-radius: 1em;
    position: relative;
    text-decoration: none;
}
.iconHeart{
    position: absolute;
    top: 5%;
    right: 9%;
    color: gray;
}
.iconHeart:hover{
    color: rgb(173, 1, 1);
    cursor: pointer;
}
.iconShop{
    position: absolute;
    top: 16%;
    right: 8%;
    color: gray;
}
.iconShop:hover{
    color: black;
    cursor: pointer;
}
.imgBox{
    height: 150px;
    width: 100%;
}
.productImg{
    border-radius: 1em;
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.model{
    font-weight: 500;
}
.price{
    text-align: right;
}
.CategorySelect{
    padding-top: 15vh;
    width: 100%;
    display: flex;
    gap: 25px;
    padding-left: 10px;
    font-weight: 500;
}
.lineBlack{
    height: 1px;
    background-color: black;
    width: 95%;
    margin: 10px auto 15px auto;
}

@media (min-width: 1100px){
    .shopPage{
        padding-top: 30px;
        grid-template-columns: repeat(5, 1fr);
    }
    .CategorySelect{
        padding-top: 0;
        width: 100%;
        display: flex;
        gap: 25px;
        padding-left: 20px;
        font-size: 1.1em;
    }
    .options:hover{
        color: rgb(85, 85, 85);
        cursor: pointer;
        
    }
    .lineBlack{
        width: 97%;
    }
    .iconHeart{
        top: 6%;
        right: 6%;
    }
    .iconShop{
        top: 18%;
        right: 5%;
    }
}
