*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.articleMain{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.infoShoe{
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgShoe{
    width: 100%;
    margin-bottom: 10px;
}

.buyShoe{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buyButton{
    padding: 7px 30px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-weight: 600;
}