.articleMain{
    width: 85%;
    display: block;
    margin: 0 auto 20px;
    padding-top: 8vh;
}
.infoShoe{
    display: flex;
    flex-direction: column;
}
.imgShoe{
    width: 100%;
}
.infoShoeInfo{
    margin: 15px 0;
    text-align: justify;
}
.infoShoePrice{
    font-size: 25px;
    font-weight: bold;
}
.buyBtnBox{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
#buyBtn{
    padding: 7px 30px;
    font-size: 1em;
    font-weight: 600;
}

@media (min-width: 1100px){
    .infoShoe{
        display: flex;
        flex-direction: row;
        height: 350px;
    }
    .imgShoe{
        width: 100%;
        object-fit: contain;
    }
    .infoShoeText{
        margin: auto;
    }
}
