*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.linksFooter{
    background-color: #D3F3F1;
    padding-top: 20px;
}
#stayInTheKnowBtn{
    padding: 3px 30px;
    margin: auto;
    display: block;
}
.linksBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 30px 10px;
}
.textLinkBox{
    font-size: 10px;
}
.topVoid{
    margin-top: 10px;
}
.iconLink{
    margin-right: 5px;
}
.logoBox{
    display: flex;
    width: 100%;
    justify-content: center;
}
#logo{
    margin: 20px;
    width: 50px;
}

/* desktop */
@media (min-width: 1100px){
    #stayInTheKnowBtn{
        display: none;
    }
    .linksBox{
        grid-template-columns: repeat(5, 1fr);
        margin: 30px;
    }
    .textLinkBox{
        font-size: 13px;
    }
    .logoBox{
        justify-content: flex-end;
    }
    #logo{
        width: 100px;
    }
}