.footer {
  display: flex;
  gap: 20px;
  padding: 5px;
  width: 100%;
}
.footer a{
  color: black;
}
.footerLogo{
    font-size: 20px;
    font-family: Arsenal;
}
.footerMenu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 7px;
}
.footerMenuText{
    font-size: 11px;
}
