.bannerFeel{
    position: relative;
}
.topImg{
    width: 100%;
    height: 100%;
}
.titleGalactica{
    font-size: 4em;
    text-align: center;
}
.feelYourSection{
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption{
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}
#shopNowButton{
    position: absolute;
    top: 210px;
    font-size: 1.1em;
    font-weight: 300;
    padding: 4px 30px;
}
#ourNowButton{
    position: absolute;
    font-size: 1em;
    font-weight: 500;
    padding: 1px 15px;
    right: 35px;
    bottom: 23px;
}

@media (min-width: 1100px){
    .bannerFeel{
        display: flex;
        margin-left: 40px;
        height: 400px;
    }
    .topImg{
        width: 50%;
        height: 100%;
        object-fit: cover;
    }
    .titleGalactica{
        display: none;
    }
    .feelYourSection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        width: 50%;
        height: 427px;
    }
    .caption{
        text-align: center;
        font-weight: 500;
        font-size: 1.7em;
    }
    #shopNowButton{
        position: static;
        font-weight: 500;
        background-color: transparent;
        border: 2px solid black;
        color: black;
        border-radius: 45px;
        padding: 4px 30px;
    }
    #ourNowButton{
        display: none;
    } 
}